<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first template</title>
    <link rel="stylesheet" href="../css/first.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Playwrite+IN:wght@100..400&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <!-- awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
</head>
<body>
    <header id="header">
        <div class="logo">
            <a href="first.html"><div class="img"></div><h2>CeVaDORA</h2></a>
        </div>
        <nav>
            <ul>
                <div id="back2"><i class="fa-solid fa-scroll"></i> NL Temlate 1</div>
                <!-- <li><a href="#home"><i class="fa-solid fa-scroll"></i> NL Temlate 1</a></li> -->
                <li><a href="#info"><i class="fa-solid fa-angle-down"></i> Templates</a></li>
                <li><a href="#dev"><i class="fa-solid fa-headset"></i> Contact Us</a></li>
            </ul>
        </nav>
        
        <div class="pri" id="pri"><h2>En</h2> | <i class="fa-solid fa-cloud-moon" id="night" style="border: none;"></i><i class="fa-solid fa-sun" id="daytime"></i></div>
        <div class="mob-th">
            <div class="pri2" id="pri2"><h2>En</h2> | <i class="fa-solid fa-cloud-moon" id="night2" style="border: none;"></i><i class="fa-solid fa-sun" id="daytime2"></i></div>
            <div class="side-icon" id="side-icon">
                <i class="fa-solid fa-bars" id="bars"></i>
                <!-- <i class="fa-solid fa-xmark"id="x-mark"></i> -->
                <i class="fa-solid fa-arrow-right-long" id="x-mark"></i>
            </div>
        </div>

    </header>
    
    <a href="../../index.html" id="back"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span>EXIT</span></a>
    
    <div class="main" id="main">
        <div class="title">
            <h2>Welcome To The CVDR Space 👋💎 !! <br><hr> Follow the instructions below to complete your resume and download it at lightning speed.</h2>
            <div class="scene">
                <div class="carousel">
                    <div class="card" id="c-1"></div>
                    <div class="card" id="c-2"></div>
                    <div class="card" id="c-3"></div>
                    <div class="card" id="c-4"></div>
                    <div class="card" id="c-5"></div>
                </div>
            </div>
        </div>
        <div class="container" id="container">
            <div class="co-ina" id="co-ina">
                <div class="text-input">
                    <div class="ti-in">
                        <h2 class="inst-title"><i class="fa-solid fa-person-military-pointing"></i> Instructions</h2>
                    </div>
                </div>
                <div class="live">
                    <div class="title-o">
                        <hr>
                        <h2><i class="fa-solid fa-bolt"></i> Live</h2>
                        <hr>
                    </div>
                    <div class="cv"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/first.js"></script>
    <script src="../js/mode.js"></script>
</body>
</html>