.dev{
    width: 90vw;
    /* min-height: 50vh; */
    background-color: #369fa1ae;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* flex-wrap: wrap; */
    /* padding: 15vh 0px 0px 0px;  */ /*⭐ from tablet size ⭐*/
    gap: 0px;
    /* padding-top: 13vh; */
    border-radius: 35px;
    padding: 5px;
    overflow: hidden;
    margin-top: 20vh;
}
.dev-in{
    background-color: #ACCACC;
    width: 100%;
    min-height: 49vh;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-right: 20px;
    padding-left: 20px;
    /* padding-left: 10vw; */
}
.dev-in .vc-footer{
    width: 100%;
    min-width: 400px;
    min-height: 350px;
    background-color: #D6E5E6;
    border-radius: 250px 30px 220px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    padding: 20px;
    box-shadow: #00000051 10px 10px 10px 0px;
}
.nav-footer{
    min-width: 350px;
    width: 350px;
    height: 300px;
    /* background-color: #ACCACC; */
    border-radius: 25px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    /* display: none; */
}
.nav-footer h2{
    /* background-color: black; */
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #2d595c;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 25px;
    font-weight: 600;
}
.nav-footer hr{
    border: none;
    background-color: #0e4d51;
    width: 100%;
    height: 10px;
    border-radius: 3px;
}
.nav-footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

}
.nav-footer ul li{
    /* border-right: #00a6ff solid 6px;
    border-left: #000000 solid 6px; */
    border-radius: 10px;
    padding: 5px 10px 2px 10px;
    /* background: linear-gradient(to right , rgb(0, 0, 0) , rgba(0, 0, 0, 0)); */
    color: #1f4144;
    background-color: #97b4b6;
    transition: 0.5s;
}
.nav-footer ul li:hover{
    color: #ffffff;
    background-color: #264345;
}
.xv{
    background-color: #8aa7aa78;
    min-width: 400px;
    width: 400px;
    height: 300px;
    border-radius: 20px 20px 200px 20px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}
.xv h2{
    /* background-color: black; */
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #2d595c;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 25px;
    font-weight: 600;
}
.xv hr{
    border: none;
    background-color: #0e4d51;
    width: 25%;
    height: 10px;
        border-radius: 3px;

}
.xv form{
    width: 100%;
    /* background-color: #000000; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    /* background-color: #56b1b77b; */
}
.xv form input{
    width: 90%;
    height: 45px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #0e4d5179;
    color: #ffffff;
}
.xv form input::placeholder{
    color: #ffffff;
}
.xv form textarea{
    width: 100%;
    min-height: 45px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #0e4d5179;
    color: #ffffff;
    scrollbar-width: none;
}
.xv form textarea::placeholder{
    color: #ffffff;
}
.msg{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.msg i{
    background-color: #224c4fb6;
    color: #ffffff;
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#send{
    color: #ffffff;
    background-color: #00b1a3;
    font-size: 25px;
    display: none;
}
#not_send{
    color: #ffffff;
    background-color: #b10000;
    font-size: 25px;
    display: none;
}
.xv form button{
    background-color: #00000000;
    border: none;
    width: 80px;
    height: 50px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: #00ffd5 0px 0px 5px 0px;
    border: #000000 solid 2.5px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.xv form button:hover{
    background-color: #000000;
    border: #00ffd5 solid 2.5px;
    color: #00ffd5;
}
#loader{
    background-color: #ffffff00;
    border: rgb(255, 255, 255) solid 4px;
    border-left: rgba(0, 72, 135, 0) solid 4px;
    border-right: rgba(0, 72, 135, 0) solid 4px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    animation: loader 2s infinite linear;
    display: none;
}
@keyframes loader {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.logo-footer{
    /* background-color: #ffffff7e; */
    /* box-shadow: #00000083 10px 10px 10px 0px; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
    height: 300px;
}
.logo-footer h2{
     /* font-size: 22px; */
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
  /* font-weight: <weight>; */
    font-style: normal;
    /* background-color: #176273; */
    color: #d3d3d3;
    font-size: 30px;
    background: linear-gradient(to right, #00b3cf, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: rgb(0, 0, 0) double 7px;
}
.logo-footer .talaat{
    border: none; 
    font-size: 25px;
    background: linear-gradient(to right, #252525, #2d2d2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}
.media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    background-color: #D6E5E6;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.media i{
    font-size: 30px;
}
.port{
    display: flex;
    align-items: center;
    justify-content: center;
}