.dev{
    width: 95vw;
    min-height: 50vh;
    /* background-color: #4b9091; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 15vh 0px 0px 0px;  */ /*⭐ from tablet size ⭐*/
    gap: 0px;
    /* padding-top: 13vh; */
    border-radius: 30px;
    padding: 5px;
}
