.dev{
    width: 95vw;
    min-height: 50vh;
    background-color: #4b9091;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 15vh 0px 0px 0px;  */ /*⭐ from tablet size ⭐*/
    gap: 0px;
    /* padding-top: 13vh; */
    border-radius: 30px;
    padding: 10px;
}
.dev-tittle{
    width: 100%;
    height: 50px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.dev .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0px;
    background-color: #c6d9dad6;
    border-radius: 30px;
    width: 100%;
    min-height: 400px;
}
.dev .content .navi{
    /* background-color: #1e1c1c6f; */
    background-color: #00a2a242;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    border: #00858e solid 4px;
    border-radius: 30px;
}
.dev .content .navi h2{
    border-bottom: #1e1c1c solid 4px;
    width: 90%;
    font-size: 25px;
}
.dev .content .navi ul{
    list-style: none;
    width: 90%;
}
.dev .content .navi a{
    font-size: 25px;
}
.dev-tittle h2{
    font-size: 30px;
}
.dev-tittle hr{
    width: 100px;
    height: 10px;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
}
.mom{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(31, 119, 125, 0.475);
    border-radius: 200px;
}
.picture{
    width: 390px;
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: pic 8s infinite linear; */
    /* background-color: #418696; */
}
@keyframes pic {
    0%{
        transform: translateY(-70px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-70px);
    }
}
.dev-img{
    width: 320px;
    height: 320px;
    border-radius: 5000px;
    border: #418696 solid 5px;
    /* border-bottom: rgb(0, 113, 92) double 10px; */
    /* background-image: url(https://mail.google.com/mail/u/0/?ui=2&ik=708afa47f2&attid=0.2&permmsgid=msg-a:r8482069493344679307&th=1971f151f1cf475b&view=fimg&disp=thd&attbid=ANGjdJ8OIVU7FiqWUP32HZNQ4CHGfaFTZ7HzRPFZrIZkPKyA8GscrmNXDCWv0xNb59bmELmCRSiqRT7YL3ySU5c836kQ_7V75XjLRZxSNgxJffz8wKGvlR8J1V1u9X8&ats=2524608000000&sz=w1920-h970);
    background-position: 43% 41%;
    background-size: 165%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 90%; */
    /* box-shadow: rgb(100, 100, 100) 10px 5px 10px 5px; */
    /* background-color: black; */
    z-index: 1;
    overflow: hidden;
}
.dev-img h3{
    /* color: #aaaaaa; */
    background-color: #5dbbbd59;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    text-shadow: #00eeff 0px 0px 5px;
}
.dev-img h3 span{
    font-size: 35px;
    position: relative;
    top: -15px;
}
.ani-circle{
    width: 300px;
    height: 300px;
    border-radius: 90px;
    border: rgb(0, 255, 213) double 8px;
    animation:  picture 10s infinite linear;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
}
@keyframes picture {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.deva{
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* background-color: #418696; */
    margin-right: 20px;
}
.deva .logo{
    /* background-color: rgb(143, 143, 143); */
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: left;
    flex-direction: column;
    line-height: 25px;
}
.deva .logo h2{
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}
.deva .logo span{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    border: rgba(255, 0, 0, 0) solid 3.5px;
    border-bottom:  rgb(0, 153, 110) solid 3.5px;
    border-radius: 100px;
    font-size: 25px;
}
.deva .logo h3{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    margin-left: 120px;
    margin-top: 5px;
    font-size: 20px;
}
.deva .ico{
    width: 100%;
    height: 50px;
    background-color: rgba(161, 185, 185, 0.504);
    border: #41869600 solid 5px;
    border-left: #418696 solid 5px;
    border-right: #418696 solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* padding-right: 100px; */
    margin-top: 50px;
    border-radius: 15px;
    padding-top: 5px;
}
.deva .ico i{
    font-size: 40px;
}
.zero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
.port{
    min-width: 150px;
    height: 50px;
    background-color: #418696;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* margin-left: auto; */
    /* margin-right: 145px; */
    margin-top: 20px;
    font-size: 25px;
    color: #ffffff;
    border-radius: 11px;
}
.deva form{
    /* background-color: blue; */
    background: linear-gradient(to bottom , #009696 , rgba(255, 0, 0, 0) 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
}
.deva form .title h2{
    font-size: 30px;
    color: #ffffff;
}
.deva form input{
    width: 290px;
    height: 45px;
    background-color: rgba(240, 248, 255, 0);
    border: rgb(222, 222, 222) solid 3.5px;
    padding-left: 10px;
    border-radius: 10px;
    color: #ffffff;
}
.deva form input::placeholder{
    color: #ffffff;
}
.deva form textarea{
    width: 290px;
    /* height: 45px; */
    background-color: rgba(240, 248, 255, 0);
    border: rgb(222, 222, 222) solid 3.5px;
    padding-left: 10px;
    border-radius: 10px;
    color: #ffffff;
}
.deva form textarea::placeholder{
    color: #ffffff;
}
.deva form button{
    width: 290px;
    height: 45px;
    background-color: #418696;
    border: rgba(0, 153, 110, 0) solid 3.5px;
    /* padding-left: 10px; */
    /* border-radius: 10px; */
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}