*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zain", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"slnt" 0; */
    font-size: 20px;
    scrollbar-width: none;

}
/* :root{
    --color: rgb(188, 212, 214);
} */
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    /* background: linear-gradient(330deg ,#00ffe5 -20% , rgb(0, 0, 0) ,rgb(0, 0, 0) , #00ffe5 115%);
    color: var(--color); */
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
a{
    color: var(--color);
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 85vw;
    height: 65px;
    top: -80px;
    transition: 2s;
    /* padding: 0px 10vw 0px 10vw; */
    padding: 0px 20px 0px 20px;
    /* background-color: rgba(0, 0, 0, 0.515); */
    /* box-shadow: rgba(0, 0, 0, 0.421) 0px 0px 5px 5px; */
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
header .logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
header .logo h2{
    /* font-size: 22px; */
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
  /* font-weight: <weight>; */
    font-style: normal;
    /* background-color: #176273; */
    color: #006860;
    background: linear-gradient(to right, #009ab2, #00353b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header .logo .img{
    /* background-image: url(https://cdn-icons-gif.flaticon.com/15557/15557728.gif); */
    /* background-image: url(https://cdn-icons-png.flaticon.com/128/9750/9750857.png); */
    /* background-image: url(https://cdn-icons-png.flaticon.com/128/4213/4213056.png); */
    /* background-image: url(https://cdn-icons-png.flaticon.com/128/752/752471.png); */
    background-color: #ffffffb3;
    background-image: url(https://cdn-icons-png.flaticon.com/128/17727/17727987.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    /* border-radius: 10px; */
    /* background-color: #ffffff; */
    /* border-left: white solid 2px; */
}
header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
header ul li{
    transition: 1s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
header ul li a{
    font-size: 22px;
}
/* header ul li:hover{
    text-decoration: underline;
} */
header ul li::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.5s ease;
    /* لجعلها من اليمين لليسار */
}

header ul li:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}
header i{
    /* color: #74e6ff; */
    /* border-right: #ad1616 solid 3px; */
    padding-right: 4px;
    font-size: 18px;
}
.pri{
    /* background-color: #006e6b; */
    width: 100px;
    height: 40px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pri:hover::after{
    width: 0px;
}
.pri h2,i:hover{
    cursor: pointer;
}
.back-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: left;
    gap: 50px;
    position: fixed;
    z-index: -1;
    padding: 0px 10vw 0vh 15vw;
}
.back-main h2{
    font-size: 45px;
    color: #175f63;
    text-shadow: rgb(255, 255, 255) 0px 0px 5px;
    /* font-style: italic; */
    /* opacity: 70%; */
}
.back-main img{
    width: 250px;
    opacity: 40%;
    /* box-shadow: #ffffff 0px 0px 5px 5px; */
    border-radius: 40px;
    animation: back-img 100s infinite linear;
}
@keyframes back-img {
    0%{
        /* transform: translateX(0px); */
        transform: translate(0px , 0px)rotate(0deg);
        opacity: 0;
    }
    2%{
        opacity: 60%;
    }
    50%{
        /* transform: translateX(100px); */
        transform: translate(1000px , -1000px)rotate(1000deg);
        opacity: 0;
    }
    90%{
        opacity: 60%;
    }
    100%{
        /* transform: translateX(0px); */
        transform: translate(0px , -0px)rotate(2000deg);
        opacity: 0;
    }
}
.main{
    backdrop-filter: blur(10px);
    /* background-color: #00000033; */
    width: 100vw;
    min-height: 100vh;
    margin-top: 100vh;
    transition: 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top{
    /* background-color: #006e6b; */
    width: 170px;
    height: 45px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 35px;
    right: 35px;
    z-index: 9;
    opacity: 0;
    transition: 2s;
}
.top a,spanaa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #b1dadac8;
    box-shadow: rgba(0, 0, 0, 0.701) 0px 0px 10px 0px;
    border-radius: 10px;
    color: #176273;
}
footer{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}