
#bars{
    display: none;
}
.side-icon{
    display: none;
}
@media (max-width:1080px) {
    header{
    width: 95vw;
    left: 2.5vw;
    padding: 0px 20px 0px 20px;
    }
    header .logo h2{
        font-size: 18px;
    }
    header .logo .img{
        display: none;
    }
    header nav{
        display: none;
    }
    #bars{
        display: block;
    }
    .side-icon{
        display: flex;
    }
    .back-main img{
        display: none;
    }
    .home .line-1{
        /* display: none; */
        top: 18vh;
    }
    .cat{
        width: 200px;
    }
    .home .line-2{
        display: none;
    }
    .home .line-3{
        top: 65vh;
    }
    .home .text h2{
    font-size: 30px;
    }
    .info{
        width: 100%;
    }
    .secs{
        max-height: max-content;
        flex-wrap: wrap;
        padding: 10px;
    }
    .pri{
        display: none;
    }
}



























/* dev */
@media (max-width:1080px) {
    .dev{
        width: 100vw;
        padding: 3px;
        margin-top: 10vh;
    }
    .dev-in{
        flex-wrap: wrap;
    }
    .dev-in .vc-footer{
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 250px 30px 30px 30px;
    }
    .xv{
        background-color: #8aa7aa78;
        min-width: 350px;
        width: 350px;
        padding: 20px 0px 0px 0px;
        border-radius: 20px;
    }
    
}
    
    
/* temlates */
@media (max-width:1080px) {
    
    .templ-cards{
        width: 100vw;
        height: max-content;
        justify-content: center;
        /* padding: 0px; */
        padding-bottom: 20px;
        gap: 0px;
    }
    .ats,.normal{
        max-width: 100vw;
    }
    .templ-cards .control{
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px;
    }
    .templ-cards .control h2{
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    .te-card{
        width: 300px;
        min-width: 300px;
        height: 465px;
    }
    .te-card .me{
        width: 90%;
        min-height: 60px;
    }
    .te-card .num-ch{
        min-width: 50px;
        font-size: 30px;
    }
    .te-card .me .che{
        font-size: 30px;
    }
    .ats,.normal{
        gap: 30px;
        padding: 30px;
        border: none;
    }
    .templ-cards .control .btns{
        min-width: 380px;
        height: 55px;
        gap: 30px;
    }
    .te-card .cv img{
        width: 93%;
        border-radius: 7px;
    }
}
    
    
/* offers */
@media (max-width:1080px) {
    
    #fr-1{
    min-width: 220px;
    height: 350px;
    }
    #fr-2{
    min-width: 220px;
    height: 350px;
    }
    
}
    
    
/* info */
@media (max-width:1080px) {
    
    .info .text{
    width: 70%;
    min-width: 390px;
    min-height: 70vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .t-info{
    min-width: 360px;
    /* font-size: 20px; */
    line-height: 20px;
    }
    
}
    
/* body */
@media (max-width:1080px) {
    body{
        background: linear-gradient(330deg ,#00606b -30% , #C6D9DA ,#C6D9DA , #008094 130%);
    }
    .top{
        right: 0px;
    }
}
