/* 
.templates{
    width: 85vw;
    min-height: 100vh;
    background-color: rgba(71, 118, 120, 0.358);
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: #00967f00 solid 10px;
    border-top: #009680 solid 10px;
    border-bottom: #00ac95 solid 10px;
    border-radius: 50px;
    padding-top: 10vh;
}
.templates .info{
    width: 80vw;
    height: 130px;
    position: relative;
    top: -70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: none;
}
.templates .info .in{
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: #74e6ff;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    border: #00000000 solid 4px;
    border-top: #000 solid 4px;
    background: linear-gradient(to top ,rgba(0, 0, 0, 0) , #74e6ff 500%);

}
.templates .info .in i{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.templates .in hr{
    width: 100%;
    height: 5px;
    background-color: #000;
    border: none;
    border-radius: 10px;
}
.templates .title{
    width: 50%;
    min-width: 400px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    position: relative;
    top: -70px;
}
.templates .title h2{
    font-size: 30px;
    border: #ff000000 solid 10px;
    border-left: #00d0ff solid 10px;
    padding: 0px;
    padding-left: 10px;
    border-radius: 25px;
}
.templates .title .img{
    background-image: url(https://cdn-icons-gif.flaticon.com/15578/15578505.gif);
    background-position: center;
    background-size: cover;
    width: 380px;
    height: 380px;
    border-radius: 20px;
    opacity: 85%;
}
.apps{
    width: 50%;
    min-width: 400px;
    min-height: 80vh;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    top: -70px;
}
.apps .app{
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    border: #006a76 solid 4px;
    background-image: url(https://static-cse.canva.com/blob/2102105/1131w-T9RPR4DPdiw.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#app-1{
        background-image: url(https://miro.medium.com/v2/resize:fit:720/1*EUwPqeVoV5FLUvBnjkstww.jpeg);
}
#app-2{
        background-image: url(https://cdn-blog.novoresume.com/articles/ats-friendly-resume-templates/ats-friendly-Skill-Based-Resume-Template.png);
}
#app-3{
    background-image: url(https://bowwe.com/upload/domain/37991/images/cv/cv-jones.webp?8840989.600000024);
}
#app-5{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm1KHx5KqmwZ2duSvjwtX7PjTS7Nb0UxhZRg&s);
}
#app-6{
    background-image: url(https://cdn.enhancv.com/images/1098/i/aHR0cHM6Ly9jZG4uZW5oYW5jdi5jb20vcHJlZGVmaW5lZC1leGFtcGxlcy80SHFqZGl1RlNmbHpIdDhmRG9sdkhQTzc4REkzeXF5RWxrVmJlZkxaL2ltYWdlLnBuZw~~.png);
} */

/* new desigen */

.templates{
    width: 100vw;
    min-height: 100vh;
    padding-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
}
.templ-tittle{
    width: 100%;
    height: 50px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.templ-tittle h2{
    font-size: 30px;
}
.templ-tittle hr{
    width: 100px;
    height: 10px;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
}
.templ-cards{
    width: 90vw;
    height: 500px;
    /* background-color: rgb(89, 98, 106); */
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 20px;
    padding: 35px 0px 0px 0px;
    overflow: hidden;
}
.ats,.normal{
    display: none;
    align-items: center;
    justify-content: left;
    gap: 20px;
    transition: 0.5s;
    max-width: 80vw;
    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #19909800;
    scrollbar-width: none;
    border-radius: 50px;
    border: #73b2b600 solid 10px;
    border-right: #4f888c solid 10px;
    border-left: #4f888c solid 10px;
}
.templ-cards .control{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #5faeaf80;
    width: max-content;
    border-radius: 15px;
    overflow: hidden;
    padding: 0px 30px 0px 30px;
}
.templ-cards .control h2{
    font-size: 25px;
}
.templ-cards .control .btns{
    background-color: #C6D9DA;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 15px;
    animation: btns 3s infinite linear;
}
@keyframes btns {
    0%{
        border: #4f888c00 solid 3px;
    }
    25%{
        border: #f2ff00 solid 3px;
    }
    50%{
        border: #ff000000 solid 3px;
    }
    100%{
        border: #4f888c00 solid 3px;
    }
}
.templ-cards .control .btns h2{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.btns span{
    background-color: #73b2b6;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
}
.te-card{
    width: 220px;
    min-width: 220px;
    height: 350px;
    background-color: #C6D9DA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    overflow: hidden;
    padding: 15px 0px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.253) 0px 0px 10px 5px;
}
.te-card .cv{
    width: 90%;
    height: 100%;
    background-color: rgba(0, 162, 162, 0.53);
    border: rgba(0, 162, 162, 0.53) solid 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.te-card .cv img{
    width: 90%;
    /* border-radius: 20px; */
}
.te-card .me{
    width: 90%;
    min-height: 50px;
    background-color: rgb(0, 162, 162);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #e8e8e8;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    border: #4b131300 solid 3px;
    box-shadow: #0000007f 0px 0px 10px 0px;
}
.te-card .me:hover{
    border: #ffffff solid 3px;
    border-left: #ffffff solid 40px;
    border-right: #ffffff solid 40px;
    background-color: rgb(22, 91, 84);
}





































.choose{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0vw;
    z-index: 10;
    /* width: 100vw;
    height: 100vh; */
    width: 0vw;
    height: 0vh;
    opacity: 0;
    background-color: #00000000;
        background: linear-gradient(330deg ,#00d6c1 -30% , #C6D9DA ,#C6D9DA , #00d6c1 125%);
    overflow: hidden;
    /* border-radius: 40px; */
    transition: 0.5s;
}
.choose .c-in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* position: fixed;
    top: 90px;
    left: 2.5vw;
    z-index: 10; */
    position: relative;
    top: 26px;
    width: 95vw;
    min-width: 95vw;
    min-height: 85vh;
    max-height: 85vh;
    background-color: #199098;
    /* overflow: hidden; */
    border-radius: 40px;
    overflow: hidden;
}
.c-in-view,.c-in-command{
    width: 47%;
    min-width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f2ff00; */
}
.c-in-view img{
    width: 450px;
    min-width: 350px;
    background-color: #C6D9DA;
    padding: 10px;
    border-radius: 20px;
}
.c-in-command{
    flex-direction: column;
    gap: 10px;
}
.c-in-command img{
    width: 310px;
    border-radius: 20px;
    opacity: 90%;
    margin-top: 50px;
}
.c-in-command h2{
    background-color: #C6D9DA;
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    width: 400px;
    line-height: 25px;
}
.answar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.answar span{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #C6D9DA;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.answar span:hover{
    background-color: #227b80;
    border: #ffffff solid 3px;
    color: #ffffff;
}
.answar .no{
    border: #b10000 solid 3px;
}
.answar .yes{
    /* border: #0023b1 solid 3px;
    background-color: #a0d0e6; */
    color: #008da6;
    border: #b1000000 solid 3px;
    /* text-shadow: rgb(0, 150, 130) 0px 0px 5px; */
}
.answar i{
    margin-left: 10px;
    /* text-shadow: none; */
    color: #000000;
    transition: 0.5s;
}
.answar .no:hover i{
    color: #ff0000;
    text-shadow: #ffffff 0px 0px 10px;
    background-color: #ffffff;
    padding: 5px 5px 3px 5px;
    border-radius: 5px;
}
.answar .yes:hover i{
    color: #227b80;
    text-shadow: #ffffff 0px 0px 10px;
    background-color: #ffffff;
    padding: 5px 5px 3px 5px;
    border-radius: 5px;
}